<section class="block container">
  <h2 class="block__heading">Heading</h2>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam nihil quia
    ab sed aspernatur non voluptatibus eaque libero consequatur aliquid.
  </p>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card title</header>
      <div class="card__body">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta, cum.
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam nihil quia
      ab sed aspernatur non voluptatibus eaque libero consequatur aliquid.
    </p>
  </div>
</section>
