<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat, quis!
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="/part3/Moshify/Moshify/icons/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci
        mollitia quibusdam tempora voluptas fugit unde dicta expedita
        repudiandae quo ducimus.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="
          /part3/Moshify/Moshify/resized/easy.webp    1x,
          /part3/Moshify/Moshify/resized/easy@2x.webp 2x
        "
      />
      <source
        type="image/png"
        srcset="
          /part3/Moshify/Moshify/resized/easy.png    1x,
          /part3/Moshify/Moshify/resized/easy@2x.png 2x
        "
      />
      <img
        class="feature__image"
        src="/part3/Moshify/Moshify/images/easy@2x.png"
        alt=""
      />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use
            xlink:href="/part3/Moshify/Moshify/icons/sprite.svg#computer"
          ></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simple Fast Websites</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci
        mollitia quibusdam tempora voluptas fugit unde dicta expedita
        repudiandae quo ducimus.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="
          /part3/Moshify/Moshify/resized/fast.webp    1x,
          /part3/Moshify/Moshify/resized/fast@2x.webp 2x
        "
      />
      <source
        type="image/png"
        srcset="
          /part3/Moshify/Moshify/resized/fast.png    1x,
          /part3/Moshify/Moshify/resized/fast@2x.png 2x
        "
      />
      <img
        class="feature__image"
        src="/part3/Moshify/Moshify/images/fast@2x.png"
        alt=""
      />
    </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use
            xlink:href="/part3/Moshify/Moshify/icons/sprite.svg#settings"
          ></use>
        </svg>
      </span>
      <h3 class="feature__heading">WordPress Made Easy</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci
        mollitia quibusdam tempora voluptas fugit unde dicta expedita
        repudiandae quo ducimus.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="
          /part3/Moshify/Moshify/resized/wordpress.webp    1x,
          /part3/Moshify/Moshify/resized/wordpress@2x.webp 2x
        "
      />
      <source
        type="image/png"
        srcset="
          /part3/Moshify/Moshify/resized/wordpress.png    1x,
          /part3/Moshify/Moshify/resized/wordpress@2x.png 2x
        "
      />
      <img
        class="feature__image"
        src="/part3/Moshify/Moshify/images/wordpress@2x.png"
        alt=""
      />
    </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="/part3/Moshify/Moshify/icons/sprite.svg#clock"></use>
        </svg>
      </span>
      <h3 class="feature__heading">24/7 Expert Support</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci
        mollitia quibusdam tempora voluptas fugit unde dicta expedita
        repudiandae quo ducimus.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="
          /part3/Moshify/Moshify/resized/support.webp    1x,
          /part3/Moshify/Moshify/resized/support@2x.webp 2x
        "
      />
      <source
        type="image/png"
        srcset="
          /part3/Moshify/Moshify/resized/support.png    1x,
          /part3/Moshify/Moshify/resized/support@2x.png 2x
        "
      />
      <img
        class="feature__image"
        src="/part3/Moshify/Moshify/images/support@2x.png"
        alt=""
      />
    </picture>
  </article>
</section>
