<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">Cloud Hosting for Pros</h1>
      <p class="hero__tagline">Deploy your websites in less than 60 seconds.</p>
      <a href="" class="btn btn--accent btn--stretched">Get Started</a>
    </header>
    <picture>
      <source
        type="image/webp"
        srcset="
          /part3/Moshify/Moshify/resized/banner.webp    1x,
          /part3/Moshify/Moshify/resized/banner@2x.webp 2x
        "
      />
      <source
        type="image/png"
        srcset="
          /part3/Moshify/Moshify/resized/banner.png    1x,
          /part3/Moshify/Moshify/resized/banner@2x.png 2x
        "
      />
      <img
        class="hero__image"
        src="/part3/Moshify/Moshify/images/banner.png"
        alt=""
      />
    </picture>
  </div>
</section>
