<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    />
    <link rel="stylesheet" href="/part3/css/normalize.css" />
    <link rel="stylesheet" href="/part3/css/styles.css" />
  </head>
  <body>
    <section class="block container block-domain">
      <header class="block__header">
        <h2>Starting at $9 per month</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci,
          blanditiis.
        </p>
      </header>
      <div class="input-group">
        <input
          type="text"
          class="input"
          placeholder="Enter domain name here..."
        />
        <button class="btn btn--accent">
          <svg class="icon icon--white">
            <use
              xlink:href="/part3/Moshify/Moshify/icons/sprite.svg#search"
            ></use>
          </svg>
          Search
        </button>
      </div>
      <ul class="list block-domain__prices">
        <li><span class="badge badge--secondary">.com $9</span></li>
        <li>.sg $10</li>
        <li>.space $11</li>
        <li>.info $14</li>
        <li>.net $10</li>
        <li>.xyz $10</li>
      </ul>
    </section>
  </body>
</html>
