*,
*::before,
*::after {
    box-sizing: border-box;
}
p {
    padding: 10px 20px ; /*we can type the values: (4 values)up right down left, (2values) up-down right-left */
    border: 5px 5px;
}

/* 
PADDING: the space set is per each "p" element so if we have 2p elements of 20px each, the space between them will be 40px
MARGIN: the margins colapse so if we have 2p elements of 20px each, the space between them will be 20px and not 40px
*/

.box {
    width: 100px;
    height: 100px;
    background-color: gold;
    /*padding: 20px;
    border: 10px solid orange;
    margin: 5px;*/
    display: inline-block;
    /*box-sizing: content-box; */ /* we move this to the top so it will be applied to all the html file but it doens't work on pseudo-elements*/
}
/* 
Any padding or border will increase the size of the box
The margin doesn't increase the size of the box

Box-sizing: 
    content-box: width/height(100px) + padding(2*20px) + border(2*10px) = 160px
    border-box: width/height(40px) + padding(2*20px) + border(2*10px) = 100px Takes the width/height as the total size including the padding and border. The size should be applied to the border box

Display:
    inline - don't respect the width and height properties
    block - one box per block
    inline-block - combien both, respects width and height and have the boxes in the same block
*/

