body {
    margin: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tweet {
    border-radius: 30px;
    border: 1px solid #f9f9f9;
    box-shadow: 0 0 20px 30px #f9f9f9;
    margin: 20px;
    max-width: 500px;
    overflow: hidden;
    padding: 10px;
    text-align: justify; 
    transform: rotate(-5deg);
    transition: transform 0.5s;
    width: 400px; 
}

.tweet:hover {
    transform: rotate(0deg);
    img {
        transform: scale(1.15);
    }
}

.text {
    margin: 12px;
}

.author {
    padding: 1px;
    height: 90px;
    background: linear-gradient(32deg, rgba(116,214,144,1) 0%, rgba(92,191,187,1) 100%);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
img {
    padding: 1px;
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 50px;
    border: 5px solid whitesmoke;
    margin-top: 12px;
    margin-left: 12px;
    transition: transform 0.5s;
}

p {
    float: left;
    padding: 10px;
    color: white;
    margin-top: 25px;
}
